.theme, .theme:hover {
    background-color: rgb(15,155,225);
    color: white;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.profile {
    width: 175px;
    height: auto;
    margin:  auto;
    border-radius: 50%;
}

.links {
    font-size: .75em;
    letter-spacing: 1.1px;
}

.toplinks {
    font-size: .70em;
    border-top-width: 1px;
    border-top-color: white;
    border-top-style: dotted;
}

.bodytext {
    font-size: .95em;
}

.fab, .fas {
    font-size: 1.5em;
}

.briefing {
    font-family: 'Open Sans', sans-serif;
}

.signature {
    font-family: 'Great Vibes', cursive;
    font-size: 1.85em;
    margin-bottom: -.15em;
    margin-top: .15em;
}
