.theme, .theme:hover {
    background-color: rgb(15,155,225);
    color: white;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.profile {
    width: 175px;
    height: auto;
    margin: -50px auto;
    border-radius: 50%;
}

.links {
    font-size: .70em;
    letter-spacing: 1.1px;
}

.toplinks {
    font-size: .70em;
    border-top-width: 1px;
    border-top-color: white;
    border-top-style: dotted;
}

.fab, .fas {
    font-size: 1.5em;
}